In [8]:
# 1. Preparación del entorno
# Importar librería
import pandas as pd

# 2. Cargar los datos
# cargar el archivo CSV en un DataFrame
df = pd.read_csv(r"C:\Users\Andy\Documents\project1-retail-analytics\retail_sales_dataset.csv")

# 3. Exploración inicial de los datos
# Mostrar las primeras 10 filas
print("=== Primeras 10 filas del DataFrame ===")
print(df.head(10), "\n")

# Mostrar las últimas 5 filas
print("=== Últimas 5 filas del DataFrame ===")
print(df.tail(5), "\n")

# Obtener información general sobre el DataFrame
print("=== Información general del DataFrame ===")
df.info()
print("\n")

# Generar estadísticas descriptivas
print("=== Estadísticas descriptivas del DataFrame ===")
print(df.describe(), "\n")

# 4. Inspección de los datos
# Inspeccionar tipos de datos
print("=== Tipos de datos por columna ===")
print(df.dtypes, "\n")

# Contar valores únicos en la columna Product Category
print("=== Conteo de valores únicos en 'Product Category' ===")
print(df['Product Category'].value_counts(), "\n")

# Mostrar valores únicos en la columna Customer ID
print("=== Valores únicos en 'Customer ID' ===")
print(df['Customer ID'].unique()[:10], "\n")  # Mostrando solo los primeros 10 para brevedad

# 5. Filtrado de Datos
# Filtrar donde Total Amount > 50
df_total_amount = df[df['Total Amount'] > 50]
print("=== Filtrado: 'Total Amount' > 50 ===")
print(df_total_amount.head(), "\n")

# Filtrar donde Price per Unit < 0.5
df_price = df[df['Price per Unit'] < 0.5]
print("=== Filtrado: 'Price per Unit' < 0.5 ===")
print(df_price.head(), "\n")

# Filtrar con query para categoría Manzanas y Total Amount > 30
df_beauty_sales = df.query("`Product Category` == 'Manzanas' and `Total Amount` > 30")
print("=== Filtrado con query: 'Manzanas' y 'Total Amount' > 30 ===")
print(df_beauty_sales.head(), "\n")

# Filtrar con query para categoría Beauty (ya que no hay 'Manzanas') y Total Amount > 30
df_beauty_sales = df.query("`Product Category` == 'Beauty' and `Total Amount` > 30")
print("=== Filtrado con query: 'Beauty' y 'Total Amount' > 30 ===")
print(df_beauty_sales.head(), "\n")

# 6. Slicing de datos
# Seleccionar columnas Product Category y Total Amount
df_product_sales = df[['Product Category', 'Total Amount']]
print("=== Columnas 'Product Category' y 'Total Amount' ===")
print(df_product_sales.head(), "\n")

# Usar loc[] para filas 5 a 10 y columnas Product Category y Customer ID
df_loc_selection = df.loc[5:10, ['Product Category', 'Customer ID']]
print("=== Filas 5 a 10 para las columnas 'Product Category' y 'Customer ID' ===")
print(df_loc_selection, "\n")

# Usar iloc[] para primeras 5 filas y primeras 3 columnas
df_iloc_selection = df.iloc[:5, :3]
print("=== Primeras 5 filas y primeras 3 columnas ===")
print(df_iloc_selection, "\n")

=== Primeras 10 filas del DataFrame ===
   Transaction ID        Date Customer ID  Gender  Age Product Category  \
0               1  2023-11-24     CUST001    Male   34           Beauty
1               2  2023-02-27     CUST002  Female   26         Clothing
2               3  2023-01-13     CUST003    Male   50      Electronics
3               4  2023-05-21     CUST004    Male   37         Clothing
4               5  2023-05-06     CUST005    Male   30           Beauty
5               6  2023-04-25     CUST006  Female   45           Beauty
6               7  2023-03-13     CUST007    Male   46         Clothing
7               8  2023-02-22     CUST008    Male   30      Electronics
8               9  2023-12-13     CUST009    Male   63      Electronics
9              10  2023-10-07     CUST010  Female   52         Clothing

   Quantity  Price per Unit  Total Amount
0         3              50           150
1         2             500          1000
2         1              30            30
3         1             500           500
4         2              50           100
5         1              30            30
6         2              25            50
7         4              25           100
8         2             300           600
9         4              50           200

=== Últimas 5 filas del DataFrame ===
     Transaction ID        Date Customer ID  Gender  Age Product Category  \
995             996  2023-05-16     CUST996    Male   62         Clothing
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
995         1              50            50
996         3              30            90
997         4              25           100
998         3              50           150
999         4              30           120

=== Información general del DataFrame ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB


=== Estadísticas descriptivas del DataFrame ===
       Transaction ID         Age     Quantity  Price per Unit  Total Amount
count     1000.000000  1000.00000  1000.000000     1000.000000   1000.000000
mean       500.500000    41.39200     2.514000      179.890000    456.000000
std        288.819436    13.68143     1.132734      189.681356    559.997632
min          1.000000    18.00000     1.000000       25.000000     25.000000
25%        250.750000    29.00000     1.000000       30.000000     60.000000
50%        500.500000    42.00000     3.000000       50.000000    135.000000
75%        750.250000    53.00000     4.000000      300.000000    900.000000
max       1000.000000    64.00000     4.000000      500.000000   2000.000000

=== Tipos de datos por columna ===
Transaction ID       int64
Date                object
Customer ID         object
Gender              object
Age                  int64
Product Category    object
Quantity             int64
Price per Unit       int64
Total Amount         int64
dtype: object

=== Conteo de valores únicos en 'Product Category' ===
Product Category
Clothing       351
Electronics    342
Beauty         307
Name: count, dtype: int64

=== Valores únicos en 'Customer ID' ===
['CUST001' 'CUST002' 'CUST003' 'CUST004' 'CUST005' 'CUST006' 'CUST007'
 'CUST008' 'CUST009' 'CUST010']

=== Filtrado: 'Total Amount' > 50 ===
   Transaction ID        Date Customer ID  Gender  Age Product Category  \
0               1  2023-11-24     CUST001    Male   34           Beauty
1               2  2023-02-27     CUST002  Female   26         Clothing
3               4  2023-05-21     CUST004    Male   37         Clothing
4               5  2023-05-06     CUST005    Male   30           Beauty
7               8  2023-02-22     CUST008    Male   30      Electronics

   Quantity  Price per Unit  Total Amount
0         3              50           150
1         2             500          1000
3         1             500           500
4         2              50           100
7         4              25           100

=== Filtrado: 'Price per Unit' < 0.5 ===
Empty DataFrame
Columns: [Transaction ID, Date, Customer ID, Gender, Age, Product Category, Quantity, Price per Unit, Total Amount]
Index: []

=== Filtrado con query: 'Manzanas' y 'Total Amount' > 30 ===
Empty DataFrame
Columns: [Transaction ID, Date, Customer ID, Gender, Age, Product Category, Quantity, Price per Unit, Total Amount]
Index: []

=== Filtrado con query: 'Beauty' y 'Total Amount' > 30 ===
    Transaction ID        Date Customer ID  Gender  Age Product Category  \
0                1  2023-11-24     CUST001    Male   34           Beauty
4                5  2023-05-06     CUST005    Male   30           Beauty
11              12  2023-10-30     CUST012    Male   35           Beauty
20              21  2023-01-14     CUST021  Female   50           Beauty
24              25  2023-12-26     CUST025  Female   64           Beauty

    Quantity  Price per Unit  Total Amount
0          3              50           150
4          2              50           100
11         3              25            75
20         1             500           500
24         1              50            50

=== Columnas 'Product Category' y 'Total Amount' ===
  Product Category  Total Amount
0           Beauty           150
1         Clothing          1000
2      Electronics            30
3         Clothing           500
4           Beauty           100

=== Filas 5 a 10 para las columnas 'Product Category' y 'Customer ID' ===
   Product Category Customer ID
5            Beauty     CUST006
6          Clothing     CUST007
7       Electronics     CUST008
8       Electronics     CUST009
9          Clothing     CUST010
10         Clothing     CUST011

=== Primeras 5 filas y primeras 3 columnas ===
   Transaction ID        Date Customer ID
0               1  2023-11-24     CUST001
1               2  2023-02-27     CUST002
2               3  2023-01-13     CUST003
3               4  2023-05-21     CUST004
4               5  2023-05-06     CUST005